@model CreateSubjectButtonModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<button type="button" id="@Model.Subject.SubjectId" onClick="loadLevels(@Model.Subject.SubjectId)"
        class="btn btn-primary btn-lg btn-link">@Model.Subject.SubjectName</button>


@*<li class="nav-item" id="@Model.Subject.SubjectId" onClick="loadLevels(@Model.Subject.SubjectId)"><a class="navbar-link" >@Html.Raw(Model.Subject.SubjectName)</a></li>*@
